<div>
  <h3><strong>Current Recipe:</strong> {{ selectedRecipe.name }}</h3>
  <h4><strong>Cooking Time:</strong> {{selectedRecipe?.cookingTime}}</h4>
  <br>
  <br>
  <div (click) = "hideTable()" >
    <h4> Click to {{dirtyTableWord}} Recipe Break Down</h4>
    <table [hidden] = "tableDirty">
      <tr>
        <th>Ingredient</th>
        <th>Amount</th>
        <th>Calories</th>
        <th>Protein (g)</th>
        <th>Carbs (g)</th>
        <th>Fat (g)</th>
        <th>Cost/Recipe</th>
      </tr>

      <tr *ngFor="let ingred of selectedRecipe?.ingredients">
        <td>{{ ingred?.name }}</td>
        <td>{{ ingred?.quantity4Recipe }} {{ ingred?.unit }}</td>
        <td>{{ ingred?.macrosPerNVQ?.cal }}</td>
        <td>{{ ingred?.macrosPerNVQ?.protein }}</td>
        <td>{{ ingred?.macrosPerNVQ?.carbs }}</td>
        <td>{{ ingred?.macrosPerNVQ?.fat }}</td>
        <td>{{ ingred?.costPerRecipeIng | currency: 'USD' }}</td>
      </tr>

      <tr>
        <th></th>
        <th>Total Macros</th>
        <td>{{ selectedRecipe?.totalMacros?.cal | number}}</td>
        <td>{{ selectedRecipe?.totalMacros?.protein | number }}</td>
        <td>{{ selectedRecipe?.totalMacros?.carbs | number }}</td>
        <td>{{ selectedRecipe?.totalMacros?.fat | number}}</td>
        <td>{{ selectedRecipe?.recipeCost | currency: 'USD'}}</td>
      </tr>

      <tr>
        <th></th>
        <th>Macros / Serving</th>
        <td>{{ selectedRecipe?.macrosPerServing?.cal | number }}</td>
        <td>{{ selectedRecipe?.macrosPerServing?.protein | number }}</td>
        <td>{{ selectedRecipe?.macrosPerServing?.carbs | number }}</td>
        <td>{{ selectedRecipe?.macrosPerServing?.fat | number }}</td>
        <td>{{ selectedRecipe?.costPerServing | currency: 'USD'}}</td>
      </tr>
    </table>
  </div>
  <div *ngFor = "let step of selectedRecipe?.description?.split('\n\n'); let i = index;" >
    <p>{{i +1}}) {{step}} </p>
  </div>
</div>
