<div class="col-md-6" *ngFor="let ingred of ingredObj">
  <form
    [formGroup]="ingred.form"
    (ngSubmit)="saveNewIngredient(ingred.form)"
    autocomplete="off"
  >
    <h2>{{ ingred.nameOfMissing }}</h2>
    <div class="form-group">
      <label for="macrosPerNutritonalVQEL"
        >Macros per Nutritonal facts value Quantity (cal, pro, carb, fat)</label
      ><br />
      <input
        type="text"
        id="macrosPerNutritonalVQEL"
        formControlName="macrosPerNutritonalVQEL"
        [ngClass]="{
          missing2:
            !macroFormatCheck(ingred.form.controls.macrosPerNutritonalVQEL.value) &&
            ingred.form.controls.macrosPerNutritonalVQEL.dirty
        }"
      /><br />
      <em
        *ngIf="
          !macroFormatCheck(ingred.form.controls.macrosPerNutritonalVQEL.value) &&
          ingred.form.controls.macrosPerNutritonalVQEL.dirty
        "
        >Macro Format Required (cal, pro, carb, fat)</em
      >
      <br />
    </div>
    <div class="form-group">
      <label for="totalCostOfIngredient">Total Cost of Ingredient</label><br />
      <input
        type="text"
        id="totalCostOfIngredient"
        formControlName="totalCostOfIngredient"
        [ngClass]="{
          missing2:
            numberCheck(ingred.form.value.totalCostOfIngredient) &&
            ingred.form.controls.totalCostOfIngredient.dirty
        }"
      /><br />
      <em
        *ngIf="
        numberCheck(ingred.form.value.totalCostOfIngredient) &&
          ingred.form.controls.totalCostOfIngredient.dirty
        "
        >Number Required</em
      >
    </div>
    <br />
    <div class="form-group">
      <label for="ingredientURL">Ingredient URL</label><br />
      <input
        type="text"
        id="ingredientURL"
        formControlName="ingredientURL"
        [ngClass]="{
          missing2:
            ingred.form.controls.ingredientURL.invalid &&
            ingred.form.controls.ingredientURL.dirty
        }"
      /><br />
      <em
        *ngIf="
          ingred.form.controls.ingredientURL.invalid &&
          ingred.form.controls.ingredientURL.dirty
        "
        >Required</em
      >
    </div>
    <br />
    <div class="form-group">
      <label for="unit4Ingredient">Unit for Ingredient </label><br />
      <input
        type="text"
        id="unit4Ingredient"
        formControlName="unit4Ingredient"
        [ngClass]="{
          missing2:
            !unitCheck(ingred.form.value.unit4Ingredient) &&
            ingred.form.controls.unit4Ingredient.dirty
        }"
      /><br />
      <em
        *ngIf="
          !unitCheck(ingred.form.value.unit4Ingredient) &&
          ingred.form.controls.unit4Ingredient.dirty
        "
        >Correct Unit Required (g or ml or each) </em
      >
    </div>
    <br />
    <div class="form-group">
      <label for="quantityNV">Quantity of Nutritonal Value</label><br />
      <input
        type="text"
        id="quantityNV"
        formControlName="quantityNV"
        [ngClass]="{
          missing2:
            numberCheck(ingred.form.value.quantityNV) &&
            ingred.form.controls.quantityNV.dirty
        }"
      /><br />
      <em
        *ngIf="
          numberCheck(ingred.form.value.quantityNV) &&
          ingred.form.controls.quantityNV.dirty
        "
        >Number Required</em
      >
    </div>
    <br />

    <div class="form-group">
      <label for="totalQuantityIngredient">Quantity of Ingredient</label><br />
      <input
        type="text"
        id="totalQuantityIngredient"
        formControlName="totalQuantityIngredient"
        [ngClass]="{
          missing2:
            numberCheck(ingred.form.controls.totalQuantityIngredient.value) &&
            ingred.form.controls.totalQuantityIngredient.dirty
        }"
      /><br />
      <em
        *ngIf="
          numberCheck(ingred.form.controls.totalQuantityIngredient.value) &&
          ingred.form.controls.totalQuantityIngredient.dirty
        "
        >Number Required</em
      >
      
    </div>
    <br />
    <button type="submit" [disabled]="ingred.form.invalid">Save</button>
    <button type="button">Back</button>
  </form>
</div>
