<br />
<br />
<br />
<div class="container">
  <div class="well recipe-format" *ngFor="let recipe of listOfRecipes; let i = index"
  [ngStyle]=" recipe?.imgURL ? {} : {'justify-content' : 'flex-start'}">
    <div [routerLink]="['/recipes', recipe.id]" activatedRoute="active" >
      <h4>{{ recipe.name }} <ng-content select="selector"> </ng-content></h4>
      <ul>
        <strong>Macros / Serving</strong>
        <li>Cal:{{ recipe.macrosPerServing?.cal | number }}</li>
        <li>Protein: {{ recipe.macrosPerServing?.protein | number}}</li>
        <li>Fat: {{ recipe.macrosPerServing?.fat | number}}</li>
        <li>Carbs: {{ recipe.macrosPerServing?.carbs | number }}</li>
      </ul>
    </div>
    <div *ngIf = "recipe?.imgURL" >
      <img  [src]= "recipe?.imgURL" alt="">
    </div>
  </div>
</div>
