<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class ="navbar-brand">Recipe Calculator </a>

    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink] = "['/home']" >Home</a></li>
      <li><a [routerLink] = "['/recipes']" >Recipe list</a></li>
      <li><a [routerLink] = "['/new-recipe']">Add new Recipe</a></li>
      <li><a [routerLink]= "['user/profile']"> Login</a></li>
      <li><a [routerLink] = "['/meal-planner']" a>Meal Planner</a></li>

    </ul>
  </div>
</div>
