
<div class="col-md-12">

</div>

<div class="col-md-6 container">
  <h1>Add New Recipe</h1>
  <form
    [formGroup]="newRecipeForm"
    (ngSubmit)="saveNewRecipe(newRecipeForm.value)"
    autocomplete="off"
  >
    <div class="form-group" >
      <label for="recipeName">Recipe Name</label><br />

      <input type="text" id="recipeName" formControlName="recipeName"
      [ngClass]="{'missing' : recipeName.invalid && recipeName.dirty }" />
      <em *ngIf = "recipeName.invalid && recipeName.dirty"> Required</em>
    </div>
    <br />
    <br />
    <div class="form-group">
      <label for="numServing">Number of Servings</label><br />
      <input type="text" id="numServing" formControlName="numServing"
      [ngClass]="{'missing' : numServing.dirty && numServingCheck(newRecipeForm.value.numServing )  }"/>
      <em *ngIf = "numServing.dirty && numServingCheck(newRecipeForm.value.numServing)"> Number is Required</em>
    </div>
    <br />
    <div class="form-group">
      <label for="recipeURL">Recipe URL</label><br />
      <input type="text" id="recipeURL" formControlName="recipeURL"
      [ngClass]="{'missing' : recipeURL.invalid && recipeURL.dirty}"/><br />
      <em *ngIf = "recipeURL.invalid && recipeURL.dirty"> Required</em>
    </div>

    <br />

    <div class="form-group">
      <label for="listOfIngredients">List of Ingredients</label><br />
      <textarea
        style="height: 200px; font-size: 14pt; width: 600px"
        type="text"
        id="listOfIngredients"
        formControlName="listOfIngredients"
        [ngClass]="{'missing' : listOfIngredients.invalid && listOfIngredients.dirty}"
      >
      </textarea

      >
      <em *ngIf = "listOfIngredients.invalid && listOfIngredients.dirty"> Required</em>
      <br />
    </div>
    <ul>

      <li>8 large eggs</li>
      <li>100g egg whites</li>
      <li>200g blended cottage cheese</li>
      <li>4 slices of bacon</li>
      <li>4 slices turkey bacon</li>
      <li>4 laughing cow cheese wedges</li>
      <li>2 bell peppers</li>
      <li>1 onion</li>
      <li>6 burrito tortillas</li>
      <li>60g light sour cream</li>
      <li>60g hot sauce</li>
    </ul>

    <br />

    <br />
    <button type="submit" [disabled]="newRecipeForm.invalid" >Save</button>
    <button type="button" [routerLink]= "['/recipes']">Cancel</button>
  </form>

</div>
